<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Equipo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eq of equipos">
      <th scope="row">{{ eq._id }}</th>
      <td>{{ eq.nombre }}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary" (click)="obtenerEquipos(eq._id)"
          data-bs-toggle="modal" data-bs-target="#modalEditarEquipo">Editar</button>
          <button type="button" class="btn btn-primary" >Eliminar</button>
          <button type="button" class="btn btn-primary" >Ver</button>
        </div>
    </tr>
  </tbody>
</table>


<!-- Modal Editar Equipo -->
<div class="modal fade" id="modalEditarEquipo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Equipo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputEquipo" class="form-label">Equipo</label>
            <input type="text" class="form-control" id="inputEquipo"
            name="equipo" #equipo="ngModel" [(ngModel)]="idEquiposModel.equipos">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary"  (click)="editarEquipo()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
