<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Ligas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let li of ligas">
      <th scope="row">{{ li._id }}</th>
      <td>{{ li.nombre }}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary" (click)="obtenerLiga(li._id)"
          data-bs-toggle="modal" data-bs-target="#modalEditarLiga">Editar</button>
          <button type="button" class="btn btn-primary" >Eliminar</button>
          <button type="button" class="btn btn-primary" >Ver</button>
        </div>
    </tr>
  </tbody>
</table>


<!-- Modal Editar Liga -->
<div class="modal fade" id="modalEditarLiga" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Liga</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputLiga" class="form-label">Liga</label>
            <input type="text" class="form-control" id="inputLiga"
            name="liga" #liga="ngModel" [(ngModel)]="idligaModel.nombre">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary"  (click)="editarLiga()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
