<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-5">
      <form>
        <div class="mb-3">
          <label for="inputUsuario" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="inputUsuario" name="usuario" #usuario="ngModel" [(ngModel)]="usuarioModel.usuario">
        </div>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Correo Electronico</label>
          <input type="email" class="form-control" id="inputEmail" name="email" #email="ngModel" [(ngModel)]="usuarioModel.email">
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword" name="password" #password="ngModel" [(ngModel)]="usuarioModel.password">
        </div>
        <button type="submit" class="btn btn-primary" (click)="registrar()">Registrarse</button>
      </form>
    </div>
  </div>
</div>


